li{
            text-align: left;
            color: #030027;
}
div{
            margin: 100px;
            padding: 50px;
            border: 10px solid #1A5E63;
            background-color: #00BFB2; 
            width: 500px; 
            height: 150px;   
}
h5{
            text-align: right; 
            font-size: 15px;
            color: #030027;
}
h2{
            font-size: 25px;
            color: #030027;
}
h3{
            color: #030027;
}
