body{
    text-align: center;
}
.titulo{
    font-size: 50px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    color: fuchsia;
    font-weight: bolder;
    padding: 1rem;
}
#destacado{
    background-color: black;
    color: white;
    padding: 1rem;S
}
.contenido{
    color:dodgerblue;
    margin: 20px;
    font-weight: bold;
    padding: 3rem;
}
#especial{
    border: 10px solid gray;
    background-color: blue;
    color: fuchsia;
    font-weight: bolder;
    font-size: 30px;
    height: 50px;
    width: 150px;
    margin: 50px 780px;
}
